@using RazorLight
@using System.Text.RegularExpressions
@using CliftonSiteV2.Models
@inherits TemplatePage<EmailMessage>

<table>
    <tr>
        <td align="right">Name:</td>
        <td align="left">@Model.Name</td>
    </tr>
    <tr>
        <td align="right">Email Address:</td>
        <td align="left">@Model.EmailAddress</td>
    </tr>
    <tr>
        <td align="right">Phone Number:</td>
        <td align="left">@Model.PhoneNumber</td>
    </tr>
    <tr>
        <td align="right">Question:</td>
        <td align="left">@(Regex.Replace(Model.MessageType.ToString(), "([A-Z])", " $1"))</td>
    </tr>
    <tr>
        <td align="right">Message:</td>
        <td align="left">@Model.Text</td>
    </tr>

</table>